/*
 * @Author:lyh
 * @Date: 2019-12-19 18:16:21
 * @Purpose: 横向滚动
 */

.youxue-scroll-x {
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  overflow-x: auto;

  .item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 5px;
      margin-right: 10rpx;
    }
  }

  &.youxue-scroll-x--start {
    .item {
      scroll-snap-align: start;
    }
  }

  &.youxue-scroll-x--center {
    .item {
      scroll-snap-align: center;
    }
  }
}
